<?php

return [
    /**
     * Eventuelles instructions SQL à exécuter avant la mise à jour d'une table de service.
     */
    'services_pre_sql' => [
        //'individu' => "begin DBMS_MVIEW.REFRESH('SYGAL_MV_EMAIL', 'C'); end;",
    ],

    /**
     * Logging possible des requêtes reçues et des temps de traitements (SQL, génération HAL).
     */
    'logging' => [
        'enabled' => false,
        'params' => [
            'file_path' => '/tmp/api-logging.log',
        ],
    ],
];
